// Core
@import 'core/settings';
@import 'core/functions';
@import 'core/mixins';

//Layout
@import 'layout/header';
@import 'layout/footer';

// Components
@import 'components/buttons';
@import 'components/hero';

html {
	scroll-behavior: smooth;
}

body {
	@include zeroMargin-Padding();

}

.main__page {
	@include zeroMargin-Padding();

}

.wrapper {
	margin: 0 15px;

	@media (min-width: 768px) {
		margin: 0 39px;
	}

	@media (min-width: 1280px) {
		margin: 0 275px;
	}
}

//Blog section

.main__blog  {
	padding: 30px 0 60px;
	height: 100%;
	width: 100%;
	box-sizing: border-box;

	@media (min-width: 768px) {
		min-height: 330px;
		padding: 60px 0 60px;
	}
}

.blog__high--text {
	@include mainStyles($lightMediumColor, 14px);
	margin: 0;
	padding: 0;
	font-weight: normal;
	text-transform: capitalize;

	@media (min-width: 1280px) {
		font-size: 16px;
	}
}

.blog__high--title {
	@include titleStyles($darkColor, 24px);
	@include zeroMargin-Padding();
	text-transform: capitalize;
	
	@media (min-width: 768px) {
		font-size: 26px;
	}

	@media (min-width: 1280px) {
		font-size: 32px;
	}
}

.blog__high--paragraph {
	@include mainStyles($greyColor, 18px);
	line-height: 1.67;

	@media (min-width: 768px) {
		font-size: 20px;
		line-height: 1.5;
		margin: 30px auto 30px; 
	}
}


.blog__high--button {
	@include buttonStyle();
	@include zeroMargin-Padding ();
    width: 76px;
    border: solid 2px $colorButton;
    background-color: $lightColor;
	color: $colorButton;
	transition: all ease 0.5s;
	
	&:hover {
		transform: scale(1.1);
		background-color: $colorButton;
		color: white;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)
	}
	
	@media (min-width: 768px) {
		width: 91px;
	}
}

//Reasons section
.reasons__section {
	background-color: $lighterMediumColor;
	box-sizing: border-box;
}

.reasons__section--title {
	@include titleStyles($darkColor, 24px);
	text-transform: capitalize;
	margin: 0 auto 45px;

	@media (min-width: 1280px) {
		font-size: 32px;
	}
}

.reasons__container {
	padding: 30px 15px 60px;
	box-sizing: border-box;
	text-align: center;
	height: 100%;

	@media (min-width: 768px) {
		padding: 30px 40px 60px; 
	}

	@media (min-width: 1280px) {
		padding: 60px 85px 60px;
	}

}

.reasons__text {
	@media (min-width: 768px) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 112px;
		grid-gap: 28px;
		margin-bottom: 60px;
	}
}

.reasons__items {
	margin-bottom: 45px;
}

.reasons__title {
	@include titleStyles($darkColor, 18px);
	font-weight: bold;
	@include zeroMargin-Padding();
	
	
	@media (min-width: 768px) {
		font-size: 24px;
	}
}	

.reasons__p {
	@include mainStyles ($darkColor, 18px);
	@include zeroMargin-Padding();
	line-height: 30px;

	@media (min-width: 768px) {
		font-size: 20px;
		margin-top: 14px;
	}
}

.reasons__button--button {
	@include buttonStyle();
	border: solid 2px $colorButton;
	background-color: $colorButton;
	color: $lightColor;
	width: 184px;
	margin: 0 auto;
	transition: all ease 0.5s;
	
	&:hover {
		transform: scale(1.1);
		background-color: $lightColor;
		color: $colorButton;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)
	}
}