// Core
@import 'core/settings';
@import 'core/functions';
@import 'core/mixins';

//Layout
@import 'layout/header';
@import 'layout/footer';

// Components
@import 'components/buttons';
@import 'components/hero';

body {
	@include zeroMargin-Padding();

}

.main__page {
	@include zeroMargin-Padding();

}

.wrapper {
	margin: 0 15px;
	padding: 0 auto;

	@media (min-width: 768px) {
		margin: 0 39px;
	}
}

//Blog section

.main__blog  {
	padding: 0;
	min-height: 376px;
	width: 100%;
	box-sizing: border-box;

	@media (min-width: 768px) {
		min-height: 330px;
	}
}

.blog__high--text {
	@include mainStyles($lightMediumColor, 14px);
	margin: 0;
	font-weight: normal;
	text-transform: capitalize;
}

.blog__high--title {
	@include titleStyles($darkColor, 24px);
	@include zeroMargin-Padding();
	text-transform: capitalize;
	
	@media (min-width: 768px) {
		font-size: 26px;
	}
}

.blog__high--paragraph {
	@include mainStyles($greyColor, 18px);
	line-height: 1.67;

	@media (min-width: 768px) {
		font-size: 20px;
		line-height: 1.5;
		margin: 30px auto 30px; 
	}
}

.blog__high {
	padding: 30px 0 60px;
	box-sizing: border-box;
	height: 100%;
}

.blog__high--button {
    @include buttonStyle();
    width: 76px;
    border: solid 2px $colorButton;
    background-color: $lightColor;
	color: $colorButton;
	
	@media (min-width: 768px) {
		width: 91px;
	}
}

//Reasons section
.reasons__section {
	background-color: $lighterMediumColor;
	height: 624px;
	box-sizing: border-box;

	@media (min-width: 768px) {
	height: 397px;
	}
}

.reasons__section--title {
	@include titleStyles($darkColor, 24px);
	margin: 0 auto 45px;
}

.reasons__container {
	padding: 30px 0 60px;
	box-sizing: border-box;
	text-align: center;
	height: 100%;
}

.reasons__text {
	@media (min-width: 768px) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 112px;
		grid-gap: 28px;
		margin-bottom: 60px;
	}
}

.reasons__items {
	margin-bottom: 45px;
}

.reasons__title {
	@include titleStyles($darkColor, 18px);
	font-weight: bold;
	@include zeroMargin-Padding();
}	

.reasons__p {
	@include mainStyles ($darkColor, 18px);
	@include zeroMargin-Padding();
	line-height: 30px;

	@media (min-width: 768px) {
		font-size: 20px;
		margin-top: 14px;
	}
}

.reasons__button--button {
	@include buttonStyle();
	border: solid 2px $colorButton;
	background-color: $colorButton;
	color: $lightColor;
	width: 184px;
	margin: 0 auto;
}

