@import 'core/settings';
@import 'core/functions';
@import 'core/mixins';

body {
	margin: 0;
	padding: 0;

}

.main__page {
	margin: 0;
	padding: 0;

}

// .wrapper {
// 	padding: 15px;
// }

.hero__image {
	background-image: url('../images/cover.jpg');
	background-position: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	

	.hero__title {
		@include titleStyles($lightColor, 42px);
		text-transform: uppercase;
		margin: 0;
		padding: 0;
		text-align: center;
		width: 100%;
	}


	.hero__subtitle {
		@include mainStyles($lightColor, $fontSize-md);
		text-align: center;
		width: 100%;
		margin: 0;
		padding: 0;
	}
}
