<section class="main__blog">
    <div class="wrapper">
        <div class="blog__high">
            <h6 class="blog__high--text">Insomnia tips</p>
                <h2 class="blog__high--title">Looking Through A Window</h2>
                <p class="blog__high--paragraph">
                    Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus.
                    Vivamus semper sodales rutrum.
                </p>

                <button class="blog__high--button">go</button>
        </div>
    </div>
</section>