<section class="reasons__section">
    <div class="reasons__container">
        <div class="reasons__title">
            <h2 class="reasons__section--title">Reasons To Purchase</h2>
        </div>

        <div class="reasons__text">
            <div class="reasons__items reasons__one">
                <h3 class="reasons__title">Ut sed metus</h3>
                <p class="reasons__p reasons__p--one">Lorem ipsum dolor sit amet, consecteur.</p>
            </div>

            <div class="reasons__items reasons__two">
                <h3 class="reasons__title">Curabitur ac erat</h3>
                <p class="reasons__p reasons__p--two">Mauris mattis urna quis lorem molestie.</p>
            </div>

            <div class="reasons__items reasons__three">
                <h3 class="reasons__title">Morbi dictum</h3>
                <p class="reasons__p reasons__p--three">Aliquam in dolor et dolor tincidunt.</p>
            </div>
        </div>

        <div class="reasons__button">
            <button class="reasons__button--button">more reasons</button>
        </div>

    </div>
</section>