<section class="reasons__section">
    <div class="wrapper">
        <div class="reasons__container">
            <div class="reasons__section--title">3 Reasons To Purchase</div>

            <div class="reasons__text">
                <div class="reasons__items reasons__one">
                    <h3 class="reasons__title">Ut sed metus</h3>
                    <p class="reasons__p">Lorem ipsum dolor sit amet, consecteur.</p>
                </div>

                <div class="reasons__items reasons__two">
                    <h3 class="reasons__title">Curabitur ac erat</h3>
                    <p class="reasons__p">Mauris mattis urna quis lorem molestie.</p>
                </div>

                <div class="reasons__items reasons__three">
                    <h3 class="reasons__title">Morbi dictum</h3>
                    <p class="reasons__p">Aliquam in dolor et dolor tincidunt.</p>
                </div>

                <div class="reasons__button">
                    <button class="reasons__button--button">more reasons</button>
                </div>
            </div>
        </div>
    </div>
</section>