.blog__high--button {
    @include buttonStyle();
    text-transform: capitalize;
    appearance: none;
    width: 76px;
    border: solid 2px $colorButton;
    border-radius: 22.5px;
    background-color: $lightColor;
    color: $colorButton;
}