.page__footer{
    background-color: $mediumDarkColor;
    box-sizing: border-box;
    min-height: 465px;

    @media (min-width: 768px) {
        min-height: 240px;
    }
}

.footer__container {
    @include mainStyles($lightColor, 16px);
    @include zeroMargin-Padding();
    line-height: 30px;
    text-align: center;

    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        text-align: left;
        padding-bottom: 45px;
    }
}

.footer__rrss--container {
    margin: 30px auto 30px;
    @media (min-width: 768px) {
        order: 3;
        margin: 0;
    }
}

.footer__menu--container {
    @media (min-width: 768px) {
        order: 2;
    }
}

.footer__list {
    list-style: none;
    @include zeroMargin-Padding();
    width: 100%;
}

.footer__link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.hero__scroll-up {
    width: 45px;
    height: 45px;
    margin: 0 auto 15px;
    background-color: $lightColor;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    box-shadow: 0 2px 4px rgba(black, .5);
    transition: all ease-in 1;

    &:hover {
        transform: scale(1.1);
    }
}

.footer__copy {
    @include zeroMargin-Padding();
    font-size: 14px;
    @media (min-width: 768px) {
        order: 1;
    }
}

.footer__copy-copy {
    @include zeroMargin-Padding();
}

.footer__credits--p {
    padding: 0 0 45px;
    margin: 0;  
}

.footer__icon {
    color: $colorButton;
    font-size: 10px;
}