// Fonts styles

$fontFamily-titles: 'Roboto Slab', serif;
$fontFamily-main: 'Roboto', sans-serif;

$fontSize-md: 16px;

//Main colors

$lightColor: white;
$mediumColor: #0271bc;
$mediumDarkColor: #304268;
$lightMediumColor: #8ccbea;
$lighterMediumColor: #eff9ff;
$darkColor: #000;
$greyColor: #4a4a4a;
$colorButton: #f26002;
