@mixin titleStyles ($textColor, $textSize) {
    font-family: $fontFamily-titles;
    color: $textColor;
    font-size: $textSize;
    font-weight: bold;
}

@mixin mainStyles ($textColor, $textSize) {
    font-family: $fontFamily-main;
    color: $textColor;
    font-size: $textSize;
}

@mixin centerFlex() {
    display: flex;
    justify-content: center;
    align-items: center;    
}

@mixin zeroMargin-Padding() {
    padding: 0;
    margin: 0;
}

@mixin buttonStyle() {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $fontFamily-main;
    font-weight: bold;
    font-size: 20px;
}